<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/a_space_odyssey.jpg" alt="2001: A Space Odyssey" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">2001: A Space Odyssey</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut.
                </p>
                <p class="card-text">3 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/lighthouse.jpg" alt="2001: A Space Odyssey" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">2001: A Space Odyssey</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut.
                </p>
                <p class="card-text">3 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/parasite.jpg" alt="2001: A Space Odyssey" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">2001: A Space Odyssey</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut.
                </p>
                <p class="card-text">3 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/Spider-Man_Far_from_Home.jpg" alt="2001: A Space Odyssey" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">2001: A Space Odyssey</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut.
                </p>
                <p class="card-text">3 days ago</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/suspiria.jpg" alt="2001: A Space Odyssey" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">2001: A Space Odyssey</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut.
                </p>
                <p class="card-text">3 days ago</p>
            </div>
        </div>
    </div>
</div>